<body>
    <app-navbar-voltar></app-navbar-voltar>
    <aside>
        <figure>
            @if (tipoCadastro === 'consumidor') {
            <img class="img_cadastro" src="/img_login&cadastro_cliente.png" alt="">}
            @else if (tipoCadastro === 'empresa') {
            <img class="img_cadastro" src="/img_login&cadastro_empresa.png" alt="">}
        </figure>
    </aside>

    <div class="cadastro_container">
        <div class="info">
            <h1>Cadastre-se</h1>

            <!-- 
      O :host é usado para centralizar o componente na tela 
      para fins de demonstração.
    -->
            <div class="custom-toggle-container">
                <!-- Este é o "slider" azul que se move -->
                <div class="slider-background"
                    [style.transform]="tipoCadastro === 'empresa' ? 'translateX(calc(100% + 4px))' : 'translateX(0)'">
                </div>

                <!-- Opção 1: Consumidor -->
                <div class="option" [class.active]="tipoCadastro === 'consumidor'"
                    (click)="tipoCadastro=('consumidor')">
                    Consumidor
                </div>

                <!-- Opção 2: Empresa -->
                <div class="option" [class.active]="tipoCadastro === 'empresa'" (click)="tipoCadastro=('empresa')">
                    Empresa
                </div>
            </div>
            <!-- mensagem de sucesso -->
            <!-- <div id="successMessage" *ngIf="isSuccessVisible">
                {{ successMessage }}
            </div> -->


            <form *ngIf="tipoCadastro === 'consumidor'" (ngSubmit)="cadastrarConsumidor()">

                <label for="nomeConsumidor">Nome</label>
                <input id="nomeConsumidor" name="nome" type="text" placeholder="Digite seu nome completo"
                    [(ngModel)]="consumidorModel.nome" required>

                <label for="emailConsumidor">Email</label>
                <input id="emailConsumidor" name="email" type="email" placeholder="Exemplo: teste@email.com"
                    [(ngModel)]="consumidorModel.email" required>

                <label for="telefoneConsumidor">Telefone</label>
                <input id="telefoneConsumidor" name="telefone" type="text" placeholder="Exemplo: (11) 99999-9999"
                    [value]="consumidorModel.telefone" (input)="formatarTelefone($event)" required>

                <label for="senhaConsumidor">Senha</label>
                <input id="senhaConsumidor" name="senha" [type]="showPassword ? 'text' : 'password'" placeholder="Mínimo 8 caracteres"
                    [(ngModel)]="consumidorModel.senha" required>
                <button type="button" (click)="togglePasswordVisibility()" class="olhoSenha">
                    <img src="{{ showPassword ? '/ocultarSenha.svg' : '/verSenha.svg' }}" alt="Toggle Password">
                </button>   

                <label for="confirmarSenhaConsumidor">Confirmar Senha</label>
                <input id="confirmarSenhaConsumidor" name="confirmar_senha" [type]="showPassword ? 'text' : 'password'"
                    placeholder="Mínimo 8 caracteres" [(ngModel)]="consumidorModel.confirmarSenha" required>
                <button type="button" (click)="togglePasswordVisibility()" class="olhoSenha">
                    <img src="{{ showPassword ? '/ocultarSenha.svg' : '/verSenha.svg' }}" alt="Toggle Password">
                </button>

                <button (click)="cadastrarConsumidor()" routerLink="/login" class="submit" type="submit">Cadastrar</button>
            </form>


            <form *ngIf="tipoCadastro === 'empresa'" (ngSubmit)="cadastrarEmpresa()">

                <label for="cnpj">CNPJ</label>
                <input id="cnpj" name="cnpj" type="text" placeholder="00.000.000/0000-00" [value]="empresaModel.cnpj"
                    (input)="formatarCNPJ($event)" required>

                <label for="nomeEmpresa">Nome da Empresa</label>
                <input id="nomeEmpresa" name="nome_empresa" type="text" placeholder="Exemplo: Meu negócio"
                    [(ngModel)]="empresaModel.nomeEmpresa" required>

                <label for="email">Email</label>
                <input id="email" name="email" type="email" placeholder="Exemplo: teste@email.com"
                    [(ngModel)]="empresaModel.email" required>

                <label for="senhaEmpresa">Senha</label>
                <input id="senhaEmpresa" name="senha" [type]="showPassword ? 'text' : 'password'" placeholder="Mínimo 8 caracteres"
                    [(ngModel)]="empresaModel.senha" required>
                <button type="button" (click)="togglePasswordVisibility()" class="olhoSenha">
                        <img src="{{ showPassword ? '/ocultarSenha.svg' : '/verSenha.svg' }}" alt="Toggle Password">
                </button>

                <label for="confirmarSenhaEmpresa">Confirmar Senha</label>
                <input id="confirmarSenhaEmpresa" name="confirmar_senha" [type]="showPassword ? 'text' : 'password'"
                    placeholder="Mínimo 8 caracteres" [(ngModel)]="empresaModel.confirmarSenha" required>
                <button type="button" (click)="togglePasswordVisibility()" class="olhoSenha">
                        <img src="{{ showPassword ? '/ocultarSenha.svg' : '/verSenha.svg' }}" alt="Toggle Password">
                </button>
                <button (click)="cadastrarEmpresa()" routerLink="/register-detalhes-empresa" class="submit" type="submit">Cadastrar</button>
            </form>

        </div>
        <p>Já possui conta? <a href="/login">Entrar</a></p>
    </div>
</body>