<footer class="footer-container">
    <div class="footer-content">
        

        <div class="supporters-section">
            <h4>Apoiadores</h4>
            <ul>
                <li><img src="logo_ciag_branco.svg" alt="Logo CIAG"></li>
                <li><img style="height: 60px;" src="logomenttovertical_branco-1.webp" alt="Logo Secundário"></li>
                <li><img style="height: 60px;" src="fundacaologo.png" alt="Logo Fundação"></li>
                <li><img style="height: 50px;" src="logopompeia3.png" alt="Brasão Cidade"></li>
            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2025 Portal de Negócios de Pompeia. Todos os direitos reservados.</p>
    </div>
</footer>