<nav>
    <div class="titulo-logo">
        <a class="link__home" routerLink="/">
            <img src="favicon.png" alt="logo pompeia">
            <h1>Portal de négocios de Pompeia</h1>
        </a>
    </div>
   <div class="acoes">
        <span
          *ngIf="loggedIn || usuarioNome"
          class="user-pill"
          [class.clickable]="!!painelLink"
          (click)="irParaPainel()"
        >
          Olá, {{ displayName || usuarioNome }}
        </span>
        <button type="button" [routerLink]="!loggedIn ? actionLink : null" (click)="onActionClick($event)">{{ loggedIn ? 'Sair' : actionLabel }}</button>
    </div>
</nav>
