<body>
    <aside>
        <figure>
            <img class="img_cadastro" src="/img_login&cadastro_cliente.png" alt="">
        </figure>
    </aside>
   
    <div class="cadastro_cliente">
        <div class="info">
        <h1>Cadastre-se</h1>
            <form>
                <label for="nome">Nome</label>
                <input name="nome" type="text" placeholder="" required>
                <label for="email">Email</label>
                <input name="email" type="email" placeholder="" required>
                <label for="telefone">Telefone</label>
                <input name="telefone"type="text" placeholder="" required>
                <label for="senha">Senha</label>
                <input name="senha" type="password" placeholder="" required>
                <label for="confirmar_senha">Confirmar Senha</label>
                <input name="confirmar Senha" type="password" placeholder="" required>
                <button type="submit">Cadastrar</button>
            </form>
        </div>
        <p>Já possui conta? <a href="/login">Entrar</a></p>
    </div>
</body>
