<header><app-navbar></app-navbar></header>
<main>
    <section class="home-pesquisa">
        <h2>Encontre negócios Locais</h2>
        <h4>Conectamos você com empresas verificadas da sua região. Avalie, comente e descubra novos serviços.</h4>
        <div class="input-pesquisa">
            <img class="input-icon" src="lupa_icon.png" alt="lupa">
            <input type="text" placeholder="Pesquise o estabelecimento ou serviço">
        </div>
        <div class="filtros">
            <!-- Categoria -->
            <button class="botao_filtro">Categoria</button>

            <!-- serviços -->
            <button class="botao_filtro">Serviços</button>

            <!-- Aberto agora -->
            <button class="botao_filtro">Aberto</button>
            
            <!-- + Avaliados -->
            <button class="botao_filtro">+ Avaliados</button>
            
            <!-- Ofertas -->
            <button class="botao_filtro">Ofertas</button>
        </div>
    </section>

    <section class="home-cards">
        <div class="texto-destaque">
            <h3>Empresas em destaque</h3>
            <h5>Descubra os melhores negócios da sua região, avaliados pela comunidade</h5>
        </div>
    </section>

    <section class="cards">
        <app-card-empresa></app-card-empresa>
    </section>
</main>