<body>
    <aside>
        <figure>
            <img class="img_cadastro" src="/img_login&cadastro_empresa.png" alt="">
        </figure>
    </aside>
    <div class="cadastro_empresa">
        <div class="info">
        <h1>Cadastre-se</h1>
            <form>
                <label for="cnpj">CNPJ</label>
                <input name="cnpj" type="text" placeholder="" required>
                <label for="nome_empresa">Nome da Empresa</label>
                <input name="nome_empresa" type="text" placeholder="" required>
                <label for="nome_responsavel">Nome do Responsável</label>
                <input name="nome_responsavel" type="text" placeholder="" required>
                <label for="senha">Senha</label>
                <input name="senha" type="password" placeholder="" required>
                <label for="confirmar_senha">Confirmar Senha</label>
                <input name="confirmar_senha" type="password" placeholder="" required>
                <button type="submit">Cadastrar</button>
            </form>
        </div>
        <p>Já possui conta? <a href="/login">Entrar</a></p>
    </div>
    
   
</body>
