<body>
    <div class="page-container">
        <app-navbar-voltar></app-navbar-voltar>
        <main>
            <h1>Detalhes da Empresa</h1>
            <form class="primeira_linha">
                <div class="nomeResponsavel">
                    <label for="nomeResponsavel">Nome do Responsável</label>
                    <input type="text" id="nomeResponsavel" name="nomeResponsavel"
                        placeholder="Digite seu nome completo">
                </div>
                <div class="cep">
                    <label for="cepEmpresa">CEP</label>
                    <input type="text" id="cepEmpresa" name="cepEmpresa" placeholder="01001-0001">
                </div>
                <div class="endereco">
                    <label for="enderecoEmpresa">Endereço</label>
                    <input type="text" id="enderecoEmpresa" name="enderecoEmpresa" placeholder="Rua Imaginaria 123">
                </div>
                <div class="contatoWhatsapp">
                    <label for="contatoEmpresa">Contato(Whatsapp)</label>
                    <input type="text" id="contatoEmpresa" name="contatoEmpresa" placeholder="(99) 99999-9999">
                </div>
            </form>
            <form class="segunda_linha">
                <div class="descricao">
                    <label for="descricaoEmpresa">Descrição</label>
                    <input class="descricao_input" type="text" id="descricaoEmpresa" name="descricaoEmpresa"
                        placeholder="Descreva seu trabalho">
                </div>
            </form>
            <div class="container_3linha">
                <form class="terceira_linha1">
                    <label for="imagensEmpresa">Adicione imagens do seu negócio</label>
                    <input type="file" id="imagensEmpresa" name="imagensEmpresa" multiple>
                    <p>Formatos permitidos: .png, .jpg, .jpeg | Tamanho maximo: 5MB | Maximo de 10 imagens</p>
                </form>
                <form class="terceira_linha2">
                    <label for="horarioEmpresa">Horário de funcionamento</label>
                    <div class="horario-coluna">
                    <p class="horario-dia1">Seg<input type="time" required>-<input type="time"></p>
                    <p class="horario-dia2">Ter<input type="time">-<input type="time"></p>
                    <p class="horario-dia3">Qua<input type="time">-<input type="time"></p>
                    <p class="horario-dia4">Qui<input type="time">-<input type="time"></p>
                    </div>
                    <div class="horario-coluna">
                    <p class="horario-dia5">Sex<input type="time">-<input type="time"></p>
                    <p class="horario-dia6">Sab<input type="time">-<input type="time"></p>
                    <p class="horario-dia7">Dom<input type="time">-<input type="time"></p>
                    </div>
                </form>
            </div>

            <button (click)="realizarCadastro()" class="submit" type="submit">Salvar alterações</button>
                <button class="cancelar" type="submit2" >Cancelar</button>
        </main>
    </div>
    <hr>
    @if (cadastroSucesso) {
    <div class="modal-sucesso">
        <div class="modal-content">
            <button class="close-btn" (click)="fecharModal()">×</button>
            <div class="icon-container">
                <span style="font-size: 40px; color: white;">&#10003;</span> 
            </div>
            <h2>Alterações feitas com sucesso!</h2>
        </div>
    </div>
} @else if (mensagemErro) {
    <div class="mensagem-erro">
        <p>**Erro:** {{ mensagemErro }}</p>
        <button class="entendi-botao" (click)="fecharModal()">Entendi</button>
    </div>
}
</body>