@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* CORES PRIMITIVAS */
    --azul_claro: #EFFAFB;
    --azul_escuro: #005A9C;
    --branco_soft: #F7F9FB;
    --preto_azulado: #0F1729;
    --laranja: #FF7A00;

    /* CORES CORPORATIVAS */
    --cor-cinza_texto: #808080;
    --cor-categorias: #70BFA1;
    --cor-icones: #336EEC;
    --cor-fundo_home: linear-gradient(to bottom, #E6F9F3 0%, #EFFAFB 100%);
    --cor-borda_input: #E1E7EF;
    --cor-titulo_login_cadastro: #666464;
    --cinza-placeholder:#ADADAD;
    --cor-botao_hover: #D46600;
    --cor-botao_active: #008A70;
    --cor-fundo_geral: linear-gradient(to bottom, #e6f9f3 0%, #f7f9fb 50%, #f2c27e 100%);

    /* FONTES */
    --texto_principal: "Poppins", sans-serif;
    --texto_secundario: "Poppins", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
    font-weight: 100;
}
